h1 {
    font-size: 60px;
    
   
}
ul {
    list-style: none;
}

p {
    font-size: 13px;
    
}

.button-hide {
    
    visibility: hidden;
  }

li:hover > .button-hide {
    visibility: visible;
  }

.background {
    height: 100%;
    width: 100%;
  }